# Android emulator: http://10.0.2.2:3000
# iOS simulator: http://127.0.0.1:3000
# Physical device: http://<LAN_IP>:3000
EXPO_PUBLIC_API_BASE_URL=http://10.0.2.2:3000
EXPO_PUBLIC_ENABLE_MOCKS=false
EXPO_PUBLIC_LOCATION_UPDATE_SEC_FOREGROUND=5
EXPO_PUBLIC_LOCATION_UPDATE_SEC_BACKGROUND=15
EXPO_PUBLIC_NEARBY_ALERT_RADIUS_METERS=300
EXPO_PUBLIC_ENABLE_LOCATION=true
EXPO_PUBLIC_ENABLE_PUSH=true
EXPO_PUBLIC_SENTRY_DSN=
SENTRY_RELEASE=
